@font-face {
    font-family: 'Scriptin';
    src: url(fonts/SCRIPTIN.ttf);
}

body {
    font-family: Scriptin, sans-serif;
    background: rgb(235, 235, 126);
}

p {
    font-size: 30px;
}

.slidecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 100%;
}

.slider {
    margin-top: 20px;
    -webkit-appearance: none;
    width: 20%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 1.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 15px;
    background: #04AA6D;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

  #grid {
    display: grid;
    width: 70%;
    height: 70%;
    position: absolute;
    background-color: white;
  }