@font-face {
    font-family: 'Scriptin';
    src: url(fonts/SCRIPTIN.ttf);
}

body {
    font-family: Scriptin, sans-serif;
    background: rgb(235, 235, 126);
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 30px;
    color: #f95959;
    text-decoration: underline;
}

#box {
    border: 2px solid red;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

#container {
    margin-top: 200px;
    height: auto;
    width: 512px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-row-gap: 0em;
}

#container .box{
    border: 1px solid black;
    background-color: white;
    padding: 16px;
    height: auto;
    width: auto;
}

.button {
    font-family: Scriptin;
    font-size: 3em;
    text-align:center;
    color: #c3195d;
    border: 2px solid black;
}

.grid1,
.grid2,
.grid3 {
    margin-top: 10px;
    color: #668ba4;
    width: auto;
    font-size: 20px;
    border-radius: 5px;
}

